{{ form_start(form, {'attr': {'class': 'row g-3'}}) }}
    <div class="col-md-6">
        {{ form_row(form.email) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.status) }}
    </div>
    <div class="col-12">
        <label class="form-label">{{ 'user.fields.roles'|trans }}</label>
        <div class="d-flex gap-3 flex-wrap">
            {{ form_widget(form.roles) }}
        </div>
        {{ form_errors(form.roles) }}
    </div>
    {% if form.plainPassword is defined %}
        <div class="col-md-6">
            {{ form_row(form.plainPassword.first) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.plainPassword.second) }}
        </div>
    {% endif %}
    <div class="col-12 d-flex justify-content-end">
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
    </div>
{{ form_end(form) }}
